@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --prime-accent: #293f14;
    --secondary-accent: #f86a38;
}

body {
    /* color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif; */
}
